body {
    background-color: rgb(253, 250, 245);
}

.btn {
    height: 200px;
    line-height: 180px;
    font-size: large;
    font-weight: bolder;
}

#separator {
    height: 5px;
}

#diseases {
    height: 400px;
    overflow-y: scroll;
}

#option {
    height: 479px;
}

li a {
    font-size: 15px;
}

#logOutBtn {
    height: 50px !important;
    line-height: 30px;
}

#logout {
    border-radius: 10px;
}

#userName {
    font-weight: 300;
}